@import "../../styles/variables.scss";

.vuz {
  background-color: $colorDefault;
  display: flex;
  justify-content: center;

  &-main {
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    position: relative;
    width: 100%;
    align-items: center;
  }

  &-title {
    color: $colorWhite;
    font-size: 54px;
    font-family: $fontBold;
    text-align: center;
    line-height: 100%;
    padding-top: 20px;
  }

  &-subtitle {
    color: $colorDark;
    font-size: 44px;
    text-align: center;
    font-family: $fontBoldItalic;
    line-height: 100%;
  }

  &-video {
    margin-top: 30px;
    width: 70%;
    height: 473px;
    border: none;
    border-radius: 12px;
  }

  &-collapse {
    margin-top: 24px;
    position: relative;
    width: 70%;
    border-radius: 12px;
    overflow: hidden;

    &-header {
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: 6px;
      align-items: center;
      padding: 12px;
      background-color: $colorDark;

      &-text {
        color: $colorWhite;
        font-size: 16px;
        font-family: $fontMedium;
      }

      &-icon {
        color: $colorWhite;
      }

      &-arrow {
        width: 24px;
        height: 24px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../assets/icons/default/chevron-right.svg");
        transition: 0.2s;

        &:hover {
          background-image: url("../../assets/icons/default/chevron-right_active.svg");
          cursor: pointer;
        }

        &-active {
          width: 24px;
          height: 24px;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../../assets/icons/default/chevron-right.svg");
          transition: 0.2s;
          transform: rotate(90deg);

          &:hover {
            background-image: url("../../assets/icons/default/chevron-right_active.svg");
            cursor: pointer;
          }
        }
      }
    }

    &-items {
      background-color: $colorWhite;
      overflow: hidden;
      animation: closeAnimation 0.3s ease-out forwards;

      &-active {
        background-color: $colorWhite;
        overflow: hidden;
        animation: openAnimation 0.3s ease-out forwards;
        display: flex;
        flex-direction: column;
      }
    }

    &-item {
      color: $colorDark;
      font-size: 16px;
      font-family: $fontRegular;
      padding: 4px 12px;
      transition: 0.2s;

      &:hover {
        background-color: $colorDark;
        color: $colorWhite;
        cursor: pointer;
      }

      &-bold {
        font-family: $fontBold;
      }
    }
  }

  &-text {
    margin-top: 40px;
    font-size: 14px;
    font-family: $fontItalic;
    color: $colorDark;
    max-width: 860px;
    text-align: center;
  }

  &-search {
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    gap: 32px;
    margin-bottom: -30px;
    align-items: end;

    &-item {
      display: flex;
      flex-direction: column;
      gap: 6px;

      &-text {
        font-size: 16px;
        color: $colorDark;
      }
    }

    &-button {
      padding: 8px 12px;
      border-radius: 8px;
      background-color: $colorDark;
      font-size: 16px;
      color: $colorWhite;
      transition: 0.2s;

      &:hover {
        cursor: pointer;
        background-color: $colorRed;
      }
    }
  }

  &-vuzes {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 40px;

    &-item {
      border-radius: 12px;
      display: grid;
      grid-template-rows: 1fr auto;
      gap: 6px;
      position: relative;
      padding: 12px;
      overflow: hidden;
      align-items: end;
      height: 180px;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }

      &:hover &-photo {
        transform: scale(1.1);
      }

      &-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-photo {
        width: auto; /* или конкретное значение, например 100px */
        height: auto; /* сохраняет пропорции */
        max-width: 100%; /* предотвращает выход за границы контейнера */
        z-index: 2;
        object-fit: contain;
        transition: 0.2s;
      }

      &-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background-color: rgba($color: #000, $alpha: 0.5);
      }

      &-shortname {
        position: relative;
        z-index: 3;
        color: $colorWhite;
        font-size: 32px;
        font-family: $fontCormorantMediumItalic;
      }

      &-name {
        position: relative;
        z-index: 3;
        color: $colorWhite;
        font-size: 16px;
        font-family: $fontMediumItalic;
      }
    }
  }

  &-list {
    margin-top: 40px;
    display: grid;
    gap: 12px;
    width: 100%;
    margin-bottom: 40px;

    &-item {
      position: relative;
      border-radius: 12px;
      overflow: hidden;

      &-header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 12px;
        background-color: $colorDark;
        padding: 12px 24px;

        &-photo {
          width: 64px; /* или конкретное значение, например 100px */
          height: 64px; /* сохраняет пропорции */
          max-width: 100%; /* предотвращает выход за границы контейнера */
          z-index: 2;
          object-fit: cover;
          transition: 0.2s;
          border-radius: 50%;
        }

        &-column {
          display: flex;
          flex-direction: column;
          gap: 6px;
        }

        &-text {
          color: $colorWhite;
          font-size: 24px;
          font-family: $fontMedium;
          text-decoration: none;
          transition: 0.2s;
          width: fit-content;

          &:hover {
            color: $colorRed;
            cursor: pointer;
          }
        }

        &-arrow {
          width: 36px;
          height: 36px;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../../assets/icons/default/chevron-right.svg");
          transition: 0.2s;

          &:hover {
            background-image: url("../../assets/icons/default/chevron-right_active.svg");
            cursor: pointer;
          }

          &-active {
            width: 36px;
            height: 36px;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("../../assets/icons/default/chevron-right.svg");
            transition: 0.2s;
            transform: rotate(90deg);

            &:hover {
              background-image: url("../../assets/icons/default/chevron-right_active.svg");
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@keyframes openAnimation {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 100%;
    opacity: 1;
  }
}
@keyframes closeAnimation {
  from {
    max-height: 1000px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}
