@import "../../styles/variables.scss";

.profile {
  background-color: $colorDefault;
  display: flex;
  justify-content: center;

  &-container {
    width: 100%;
    max-width: 1152px;
    background-color: #fdfdfd;
    backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  &-admin {
    width: 100%;
    margin-right: 24px;
    margin-left: 24px;
    background-color: #fdfdfd;
    backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  &-block {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    padding: 24px 0px;
    gap: 48px;
  }

  &-sider {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 24px;

    &-item {
      padding: 12px;
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 8px;
      transition: 0.2s;
      border: 1px solid #fff;
      align-items: center;

      &:hover {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
        padding: 12px;
        border: 1px solid $colorBorder;
        border-radius: 8px;
        box-shadow: 2px 2px 4px 0px rgba(34, 60, 80, 0.2);
        background-color: $colorWhite;
        cursor: pointer;
        color: $colorRed !important;
        align-items: center;
      }

      &-active {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
        padding: 12px;
        border: 1px solid $colorBorder;
        border-radius: 8px;
        box-shadow: 2px 2px 4px 0px rgba(34, 60, 80, 0.2);
        background-color: $colorWhite;
        color: $colorRed !important;
        align-items: center;
      }

      &:hover &-text {
        color: $colorRed !important;
      }

      &-text {
        font-size: 16px;
        font-family: $fontMedium;
        color: $colorDark;
        transition: 0.2s;

        &-active {
          font-size: 16px;
          font-family: $fontMedium;
          color: $colorRed;
        }
      }

      &-icon {
        &-profile {
          width: 24px;
          height: 24px;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../../assets/icons/default/profile.svg");
          transition: 0.2s;
        }

        &-docs {
          width: 24px;
          height: 24px;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../../assets/icons/default/docs.svg");
          transition: 0.2s;
        }

        &-notification {
          width: 24px;
          height: 24px;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../../assets/icons/default/notification.svg");
          transition: 0.2s;
        }

        &-homework {
          width: 24px;
          height: 24px;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../../assets/icons/default/homework.svg");
          transition: 0.2s;
        }
      }
    }
  }

  &-siderAdmin {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    max-height: calc(100vh - 164px);
    overflow-y: auto;
    padding-right: 4px;

    &::-webkit-scrollbar {
      width: 8px !important;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      padding: 2px;
      background-color: $colorScrollBar !important;
      border-radius: 4px !important;
      transition: 0.2s;
    }

    &-item {
      padding: 6px 12px;
      display: flex;
      gap: 8px;
      transition: 0.2s;
      border: 1px solid #fff;
      align-items: center;

      &:hover {
        display: flex;
        gap: 8px;
        padding: 6px 12px;
        border: 1px solid $colorBorder;
        border-radius: 8px;
        box-shadow: 2px 2px 4px 0px rgba(34, 60, 80, 0.2);
        background-color: $colorWhite;
        cursor: pointer;
        color: $colorRed !important;
        align-items: center;
      }

      &-active {
        display: flex;
        gap: 8px;
        padding: 6px 12px;
        border: 1px solid $colorBorder;
        border-radius: 8px;
        box-shadow: 2px 2px 4px 0px rgba(34, 60, 80, 0.2);
        background-color: $colorWhite;
        color: $colorRed !important;
        align-items: center;
      }

      &:hover &-text {
        color: $colorRed !important;
      }

      &-text {
        font-size: 14px;
        font-family: $fontMedium;
        color: $colorDark;
        transition: 0.2s;

        &-active {
          font-size: 14px;
          font-family: $fontMedium;
          color: $colorRed;
        }
      }
    }
  }

  &-user {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 48px;
    row-gap: 24px;

    &-avatar {
      background-color: #0a304b;
      width: 100px !important;
      height: 100px !important;

      &-here {
        overflow: hidden;
        border-radius: 50%;
        width: 100px !important;
        height: 100px !important;
        object-fit: cover;
      }

      &-text {
        color: $colorDark;
        font-size: 14px;
        transition: 0.2s;

        &:hover {
          color: $colorRed;
          cursor: pointer;
        }
      }
    }

    &-items {
      padding-right: 12px;
      display: grid;
      gap: 12px;
      overflow-y: auto;
      margin-right: 6px;

      &::-webkit-scrollbar {
        width: 8px !important;
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        padding: 2px;
        background-color: $colorPreDark !important;
        border-radius: 4px !important;
        transition: 0.2s;
      }
    }

    &-item {
      display: grid;
      gap: 3px;
      align-items: center;

      &-text {
        font-size: 16px;
        font-family: $fontMedium;
        color: $colorDark;
      }
    }

    &-itemNoEdit {
      display: flex;
      align-items: center;
      gap: 6px;

      &-text {
        font-size: 16px;
        font-family: $fontRegular;
        color: $colorDark;
      }
    }

    &-footer {
      display: grid;
      grid-template-columns: 1fr auto auto;
      gap: 12px;
      padding-right: 18px;

      &-button {
        padding: 6px 12px;
        font-size: 14px;
        font-family: $fontRegular;
        color: $colorWhite;
        background-color: $colorDefault;
        border-radius: 8px;
        transition: 0.2s;
        border: 1px solid $colorDefault;
        display: flex;
        align-items: center;

        &:hover {
          cursor: pointer;
          background-color: $colorDark;
          color: $colorWhite;
        }

        &-decline {
          padding: 6px 12px;
          font-size: 14px;
          font-family: $fontRegular;
          color: $colorDark;
          border: 1px solid $colorDefault;
          background-color: #eee;
          border-radius: 8px;
          transition: 0.2s;

          &:hover {
            cursor: pointer;
            background-color: $colorRed;
            color: $colorWhite;
          }
        }
      }
    }
  }

  &-docs {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-flexColumn {
      display: flex;
      flex-direction: column;
      gap: 6px;
      padding-bottom: 12px;
      border-bottom: 1px solid $colorDefault;
    }

    &-item {
      display: flex;
      gap: 6px;
      flex-direction: column;

      &-text {
        font-size: 18px;
        font-family: $fontMedium;
        color: $colorDark;
      }

      &-html {
        font-size: 14px;
        color: $colorDark;
        font-family: $fontRegular !important;
      }

      &-deadline {
        font-size: 14px;
        color: $colorRed;
        font-family: $fontRegular;
      }
    }

    &-flex {
      display: flex;
      gap: 6px;
    }

    &-time {
      color: $colorDark;
      font-size: 14px;
      font-family: $fontRegular;
    }

    &-doc {
      color: $colorWhite;
      font-size: 14px;
      font-family: $fontRegular;
      padding: 6px 12px;
      border-radius: 6px;
      background-color: $colorDefault;
      transition: 0.2s;
      width: fit-content;
      display: flex;
      gap: 6px;
      align-items: center;

      &:hover {
        cursor: pointer;
        background-color: $colorDark;
      }
    }

    &-doc1 {
      color: $colorWhite;
      font-size: 14px;
      font-family: $fontRegular;
      padding: 8.5px 12px;
      border-radius: 6px;
      background-color: $colorDefault;
      transition: 0.2s;
      width: fit-content;
      display: flex;
      gap: 6px;
      align-items: center;

      &:hover {
        cursor: pointer;
        background-color: $colorDark;
      }
    }

    &-upload {
      width: fit-content;
    }
  }

  &-table {
    max-width: 100%;
    padding-right: 12px;
  }

  &-notification {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: 24px;

    &-item {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      gap: 12px;
      background-color: $colorCream;
      padding: 6px 12px;
      border-radius: 12px;
      font-size: 14px;
      font-family: $fontRegular;
      color: $colorDark;
      border: 2px solid $colorDefault;

      &-flexColumn {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }

      &-readed {
        background-color: $colorWhite;
      }

      &-title {
        font-size: 16px;
        font-family: $fontMedium;
      }

      &-description {
        color: $colorSubtext;
      }
    }
  }
}
