@import "../../styles/variables.scss";

.videos {
  background-color: $colorDefault;

  &-main {
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    position: relative;
    width: 100%;
    align-items: center;
    margin-bottom: 60px;
    min-height: calc(100vh - 680px);
  }

  &-title {
    margin-top: 20px;
    width: 100%;
    color: $colorDark;
    font-family: $fontBold;
    font-size: 54px;
    color: $colorWhite;
    text-align: center;
  }

  &-items {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    max-width: 900px;
  }

  &-item {
    display: grid;
    border-bottom: 1px solid $colorWhite;

    &:last-child {
      border-bottom: none;
    }

    &-header {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      background-color: $colorDark;
      padding: 6px 12px;

      &-name {
        font-size: 32px;
        color: $colorWhite;
        font-family: $fontCormorantBoldItalic;
      }

      &-arrow {
        width: 36px;
        height: 36px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../assets/icons/default/chevron-right.svg");
        transition: 0.2s;

        &:hover {
          background-image: url("../../assets/icons/default/chevron-right_active.svg");
          cursor: pointer;
        }

        &-active {
          width: 36px;
          height: 36px;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../../assets/icons/default/chevron-right.svg");
          transition: 0.2s;
          transform: rotate(90deg);

          &:hover {
            background-image: url("../../assets/icons/default/chevron-right_active.svg");
            cursor: pointer;
          }
        }
      }
    }

    &-content {
      padding: 12px 24px;
      display: grid;
      gap: 24px;
      background-color: $colorWhite;
      width: 100%;
    }

    &-subtitle {
      width: 100%;
      font-family: $fontItalic;
      font-size: 18px;
      color: $colorDark;
      text-align: center;
    }
  }

  &-iframe {
    margin-bottom: 24px;
    height: 100%;
    width: 100%;
    max-width: 832px;
    min-height: 468px;
    border: none;
    border-radius: 12px;
  }
}
