@import "./variables.scss";

body {
  background-color: $colorDefault;

  &::-webkit-scrollbar {
    width: 8px !important;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    padding: 2px;
    background-color: $colorDark !important;
    border-radius: 4px !important;
    transition: 0.2s;
  }

  font-family: $fontRegular;
}

.app {
  position: relative;
}

.loading {
  min-height: calc(100dvh - 62px);
}

h1 {
  margin: 0px;
  color: $colorWhite;
  font-size: 54px;
  font-family: $fontBold;
  text-align: center;
  line-height: 100%;
  padding-top: 20px;
}

h2 {
  margin: 0px;
  color: $colorDark;
  font-size: 44px;
  text-align: center;
  font-family: $fontBoldItalic;
  line-height: 100%;
}

p {
  margin: 0px;
}
