@import "./variables.scss";

body {
  background-color: $colorDefault;

  &::-webkit-scrollbar {
    width: 8px !important;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    padding: 2px;
    background-color: $colorDark !important;
    border-radius: 4px !important;
    transition: 0.2s;
  }

  font-family: $fontRegular;
}

.app {
  position: relative;
}

.loading {
  min-height: calc(100dvh - 62px);
}
