@import "../../styles/variables.scss";

.header {
  padding: 12px 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 24px;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  margin: auto;
  max-width: 1200px;

  &-container {
    height: 62px;
  }

  &-bg {
    background-color: $colorDefault;
    top: 0;
    position: sticky;
    z-index: 12;
    transition: 0.2s;
  }

  &-logo {
    width: 135px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-image: url("../../assets/icons/logo/logoIcon-white.svg");
    transition: 0.2s;
    position: relative;
    left: -12px;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &-flex {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;

    &-item {
      font-size: 16px;
      transition: 0.2s;
      color: $colorWhite;
      font-family: $fontMedium;
      text-decoration: none;

      &:hover {
        color: $colorDark;
        cursor: pointer;
      }

      &-active {
        font-size: 16px;
        color: $colorDark;
        font-family: $fontMedium;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  &-button {
    border-radius: 12px;
    background-color: $colorDefault;
    color: $colorWhite;
    font-size: 14px;
    padding: 4px 12px;
    transition: 0.2s;
    font-family: $fontRegular;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border: 2px solid $colorWhite;
    text-decoration: none;

    &-mail {
      width: 22px;
      height: 22px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      background-image: url("../../assets/icons/default/mail.svg");
      transition: 0.2s;
    }

    &:hover {
      background-color: $colorDark;
      border: 2px solid $colorDark;
      cursor: pointer;
      color: $colorWhite;
    }
  }

  &-user {
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/icons/default/user.svg");
    transition: 0.2s;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid $colorWhite;
    background-color: $colorDefault;
    transition: 0.2s;

    &:hover {
      background-color: $colorDark;
      border: 2px solid $colorDark;
    }
  }

  &-userImg {
    position: relative;
    top: 2px;
    width: 34px;
    height: 34px;
    object-fit: cover;
    object-position: 0% 0%;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid $colorWhite;
    transition: 0.2s;
  }

  &-scrolled {
    padding: 12px 24px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 24px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    margin: auto;
    max-width: 1200px;

    &-bg {
      top: 0;
      position: sticky;
      z-index: 15;
      background-color: rgba($color: $colorWhite, $alpha: 0.95);
      transition: 0.2s;
    }

    &-logo {
      width: 135px;
      height: 38px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      background-image: url("../../assets/icons/logo/logoIcon-darkblue.svg");
      transition: 0.2s;
      position: relative;
      left: -12px;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }

    &-flex {
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: center;

      &-item {
        font-size: 16px;
        transition: 0.2s;
        color: $colorDark;
        font-family: $fontMedium;
        text-decoration: none;

        &:hover {
          color: $activeColor;
          cursor: pointer;
        }

        &-active {
          font-size: 16px;
          color: $activeColor;
          font-family: $fontMedium;
          text-decoration: none;
        }
      }
    }

    &-button {
      border-radius: 12px;
      background-color: $colorDefault;
      color: $colorWhite;
      font-size: 14px;
      padding: 4px 12px;
      transition: 0.2s;
      font-family: $fontRegular;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $colorDefault;
      gap: 6px;
      text-decoration: none;

      &-mail {
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        background-image: url("../../assets/icons/default/mail.svg");
        transition: 0.2s;
      }

      &:hover {
        border: 2px solid $colorDark;
        background-color: $colorDark;
        cursor: pointer;
        color: $colorWhite;
      }
    }

    &-user {
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../../assets/icons/default/user.svg");
      transition: 0.2s;
      cursor: pointer;
      border-radius: 50%;
      border: 2px solid $colorDefault;
      background-color: $colorDefault;
      transition: 0.2s;

      &:hover {
        background-color: $colorDark;
        border: 2px solid $colorDark;
      }
    }

    &-userImg {
      position: relative;
      top: 2px;
      width: 34px;
      height: 34px;
      object-fit: cover;
      object-position: 0% 0%;
      transition: 0.2s;
      cursor: pointer;
      border-radius: 50%;
      transition: 0.2s;
    }

    &-relative {
      position: relative;

      &-notification {
        position: absolute;
        top: -6px;
        right: -6px;
        font-size: 14px;
        font-family: $fontMedium;
        color: $colorWhite;
        transition: 0.1s;
        user-select: none;
        background-color: $colorRed;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 18px;
        min-width: 18px;
      }
    }
  }

  &-popoverParent {
    position: relative;
  }

  &-popover {
    display: none;

    &-active {
      position: absolute;
      top: calc(100% + 6px);
      right: 0%;
      background-color: $colorWhite;
      padding: 12px 12px;
      border-radius: 12px;
      animation: slideInFromTop 0.2s ease-out forwards;
      width: 280px;
      box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
    }

    &-container {
      display: flex;
      flex-direction: column;
      // gap: 12px;
    }

    &-user {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 12px;
      align-items: center;
      border-bottom: 1px solid $colorSubtext;
      padding-bottom: 12px;
      margin-bottom: 12px;

      &-icon {
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../assets/icons/default/user.svg");
        background-color: $colorDark;
        border-radius: 50%;
        user-select: none;
        border: 2px solid $colorDark;
        object-fit: cover;
        object-position: 0% 0%;
      }

      &-item {
        display: flex;
        flex-direction: column;
        gap: 4px;

        &-name {
          font-size: 16px;
          color: $colorDark;
          font-family: $fontMedium;
        }

        &-mail {
          font-size: 14px;
          color: $colorSubtext;
          font-family: $fontMedium;
        }
      }
    }

    &-items {
      display: flex;
      flex-direction: column;

      &-item {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 12px;
        align-items: center;
        padding: 6px 10px;
        transition: 0.1s;
        border-radius: 6px;
        text-decoration: none;
        position: relative;

        &:hover {
          background-color: $colorCream;
          cursor: pointer;
        }

        &-icon {
          color: $colorDark;
          transition: 0.1s;
          user-select: none;
        }

        &-text {
          font-size: 14px;
          font-family: $fontMedium;
          color: $colorDark;
          transition: 0.1s;
          user-select: none;
          display: flex;
          align-items: center;
          gap: 6px;
        }

        &-number {
          position: relative;
          top: -6px;
          font-size: 14px;
          font-family: $fontMedium;
          color: $colorWhite;
          transition: 0.1s;
          user-select: none;
          background-color: $colorRed;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 18px;
          min-width: 18px;
        }
      }

      &-title {
        padding: 0px 12px;
        font-family: $fontMedium;
        font-size: 16px;
        color: $colorPreDark;
        padding-bottom: 6px;
        user-select: none;
      }

      &-text {
        padding: 6px 12px;
        transition: 0.1s;
        border-radius: 6px;
        font-family: $fontMedium;
        font-size: 14px;
        color: $colorDark;
        transition: 0.1s;
        user-select: none;
        text-decoration: none;

        &:hover {
          background-color: $colorCream;
          cursor: pointer;
        }
      }
    }

    &-exit {
      display: flex;
      gap: 12px;
      align-items: center;
      padding: 6px 10px;
      transition: 0.1s;
      border-radius: 6px;
      text-decoration: none;

      &:hover {
        background-color: #fef2f2;
        cursor: pointer;
      }

      &-icon {
        color: $colorRed;
        user-select: none;
      }

      &-text {
        text-decoration: none;
        font-size: 14px;
        font-family: $fontMedium;
        user-select: none;
        color: $colorRed;
      }
    }
  }

  &-relative {
    position: relative;

    &-notification {
      position: absolute;
      top: -6px;
      right: -6px;
      font-size: 14px;
      font-family: $fontMedium;
      color: $colorWhite;
      transition: 0.1s;
      user-select: none;
      background-color: $colorRed;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 18px;
      min-width: 18px;
    }
  }

  /* Бургер-меню */
  &-burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 20;
    position: relative;

    &-line {
      width: 100%;
      height: 3px;
      background-color: $colorWhite;
      border-radius: 2px;
      transition: all 0.3s ease;

      .header-scrolled & {
        background-color: $colorDark;
      }
    }

    &-active &-line:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
    }

    &-active &-line:nth-child(2) {
      opacity: 0;
    }

    &-active &-line:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
    }
  }

  /* Мобильное меню */
  &-mobile-menu {
    display: none;
    position: fixed;
    top: 57px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $colorWhite;
    z-index: 10;
    padding: 20px;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease;

    &-active {
      transform: translateX(0);
    }

    &-bg {
      position: fixed;
      top: 58px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 9;
      display: none;

      &-active {
        display: block;
      }
    }
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-10px);
    opacity: 0;
    display: block;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// Медиа-запросы для адаптивности
@media (max-width: 1240px) {
  .header {
    padding: 12px 20px;
    gap: 20px;
    max-width: 100%;

    &-flex {
      gap: 10px;

      &-item,
      &-item-active {
        font-size: 15px;
      }
    }

    &-button {
      font-size: 13px;
      padding: 3px 10px;
    }
  }

  .header-scrolled {
    padding: 12px 20px;
    gap: 20px;
    max-width: 100%;

    &-flex {
      gap: 10px;

      &-item,
      &-item-active {
        font-size: 15px;
      }
    }

    &-button {
      font-size: 13px;
      padding: 3px 10px;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 12px 16px;
    gap: 16px;

    &-logo {
      width: 120px;
      height: 34px;
    }

    &-flex {
      gap: 8px;

      &-item,
      &-item-active {
        font-size: 14px;
      }
    }

    &-button {
      font-size: 12px;
      padding: 3px 8px;
      gap: 4px;

      &-mail {
        width: 18px;
        height: 18px;
      }
    }
  }

  .header-scrolled {
    padding: 12px 16px;
    gap: 16px;

    &-logo {
      width: 120px;
      height: 34px;
    }

    &-flex {
      gap: 8px;

      &-item,
      &-item-active {
        font-size: 14px;
      }
    }

    &-button {
      font-size: 12px;
      padding: 3px 8px;
      gap: 4px;

      &-mail {
        width: 18px;
        height: 18px;
      }
    }
  }
}

@media (max-width: 900px) {
  .header {
    grid-template-columns: auto 1fr;

    &-flex:not(:last-child) {
      display: none; // Скрываем навигацию для desktop
    }

    &-burger {
      display: flex; // Показываем бургер
      margin-left: auto;
    }

    &-mobile-menu {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 100%;

      &-buttons {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 0px;

        .header-mobile-button {
          border-radius: 8px;
          background-color: $colorDefault;
          color: $colorWhite;
          font-size: 14px;
          padding: 8px 12px;
          transition: 0.2s;
          font-family: $fontRegular;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          border: 2px solid $colorDefault;
          text-decoration: none;

          &-mail {
            width: 20px;
            height: 20px;
            background-image: url("../../assets/icons/default/mail.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }
        }
      }

      &-links {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .header-mobile-link {
          font-size: 16px;
          color: $colorDark;
          font-family: $fontMedium;
          text-decoration: none;
          padding: 8px 0;
          border-bottom: 1px solid $colorCream;

          &-active {
            color: $activeColor;
            text-decoration: none;
            font-size: 16px;
            font-family: $fontMedium;
            text-decoration: none;
            padding: 8px 0;
            border-bottom: 1px solid $colorCream;
          }
        }
      }

      &-users {
        display: flex;
        flex-direction: column;

        .header-mobile-user {
          font-size: 16px;
          color: $colorDark;
          font-family: $fontMedium;
          text-decoration: none;
          padding: 8px 0;
          border-bottom: 1px solid $colorCream;

          &-active {
            color: $activeColor;
            text-decoration: none;
            font-size: 16px;
            font-family: $fontMedium;
            text-decoration: none;
            padding: 8px 0;
            border-bottom: 1px solid $colorCream;
          }
        }
      }
    }

    &-popover {
      &-items-item {
        padding: 8px 0px;
        border-bottom: 1px solid $colorCream;
      }

      &-exit {
        padding: 8px 0px;
      }

      &-user {
        margin: 0px;
        padding: 0px;
        border-bottom: none;
      }
    }
  }

  .header-scrolled {
    grid-template-columns: auto 1fr;

    &-flex:not(:last-child) {
      display: none;
    }

    .header-burger-line {
      background-color: $colorDark;
    }
  }
}

@media (max-width: 480px) {
  .header {
    padding: 10px 12px;
    gap: 12px;

    &-logo {
      width: 100px;
      height: 28px;
      left: 0;
    }

    &-button {
      font-size: 11px;
      padding: 3px 6px;
      border-radius: 8px;

      &-mail {
        width: 16px;
        height: 16px;
      }
    }

    &-user,
    &-userImg {
      width: 28px;
      height: 28px;
    }

    &-mobile-menu {
      top: 48px;
      padding: 16px;

      &-links {
        .header-mobile-link {
          font-size: 15px;
        }
      }
    }
  }

  .header-scrolled {
    padding: 10px 12px;
    gap: 12px;

    &-logo {
      width: 100px;
      height: 28px;
      left: 0;
    }

    &-button {
      font-size: 11px;
      padding: 3px 6px;
      border-radius: 8px;

      &-mail {
        width: 16px;
        height: 16px;
      }
    }

    &-user,
    &-userImg {
      width: 28px;
      height: 28px;
    }
  }

  .header-popover-active {
    width: 250px;
    right: -10px;
  }
}
