@import "../../styles/variables.scss";

$textSuperBig: 72px;
$textBig: 40px;
$textMeduim: 24px;
$textRegular: 16px;

.tour {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &-header {
    padding: 12px 24px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 24px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    margin: auto;
    max-width: 1200px;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr auto;
      gap: 16px;
      padding: 12px 16px;

      &-flex {
        display: none !important; // Скрываем навигацию на планшетах
      }

      &-button {
        justify-self: end;
      }
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr auto;
      padding: 8px 12px;
      gap: 12px;

      &-logo {
        width: 140px;
        height: 39.4px;
        left: 0;
      }

      &-button {
        padding: 8px 12px;
        font-size: 14px;

        &-mail {
          width: 20px;
          height: 20px;
        }
      }
    }

    @media (max-width: 460px) {
      padding: 6px;
    }

    &-bg {
      background-color: $colorDark;
      top: 0;
      position: sticky;
      z-index: 12;
      transition: 0.2s;
    }

    &-logo {
      width: 170px;
      height: 47.8px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      background-image: url("../../assets/icons/logo/logoIconRus-white.svg");
      transition: 0.2s;
      position: relative;
      left: -18px;
      transform: scale(1);

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }

    &-flex {
      display: flex;
      gap: 24px;
      align-items: center;
      justify-content: center;

      &-item {
        font-size: $textRegular;
        transition: 0.2s;
        color: $colorWhite;
        font-family: $fontManrope;
        text-decoration: none;

        &:hover {
          color: $colorYellow;
          cursor: pointer;
        }

        &-active {
          font-size: $textRegular;
          color: $colorDark;
          font-family: $fontManrope;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    &-button {
      border-radius: 8px;
      background-color: $colorDefault;
      color: $colorDark;
      font-size: $textRegular;
      padding: 10px 18px;
      transition: 0.2s;
      font-family: $fontManrope;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      text-decoration: none;
      letter-spacing: 0.5px;

      &-mail {
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        background-image: url("../../assets/icons/default/mail_dark.svg");
        transition: 0.2s;
      }

      &:hover {
        background-color: $colorRed;
        cursor: pointer;
        color: $colorWhite;
      }

      &:hover &-mail {
        background-image: url("../../assets/icons/default/mail.svg");
      }
    }

    &-scrolled {
      padding: 12px 24px;
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: 24px;
      justify-content: center;
      align-items: center;
      transition: 0.2s;
      margin: auto;
      max-width: 1200px;

      @media (max-width: 1024px) {
        grid-template-columns: 1fr auto;
        gap: 16px;
        padding: 12px 16px;

        &-flex {
          display: none !important; // Скрываем навигацию на планшетах
        }

        &-button {
          justify-self: end;
        }
      }

      @media (max-width: 767px) {
        grid-template-columns: 1fr auto;
        padding: 8px 12px;
        gap: 12px;

        &-logo {
          width: 140px;
          height: 39.4px;
          left: 0;
        }

        &-button {
          padding: 8px 12px;
          font-size: 14px;

          &-mail {
            width: 20px;
            height: 20px;
          }
        }
      }

      @media (max-width: 460px) {
        padding: 6px;
      }

      &-bg {
        top: 0;
        position: sticky;
        z-index: 15;
        background-color: rgba($color: $colorDefault, $alpha: 0.98);
        transition: 0.2s;
      }

      &-logo {
        width: 170px;
        height: 47.8px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        background-image: url("../../assets/icons/logo/logoIconRus-darkblue.svg");
        transition: 0.2s;
        position: relative;
        left: -18px;
        transform: scale(1);

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }

      &-flex {
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;

        &-item {
          font-size: $textRegular;
          transition: 0.2s;
          color: $colorDark;
          font-family: $fontManrope;
          text-decoration: none;

          &:hover {
            color: $activeColor;
            cursor: pointer;
          }

          &-active {
            font-size: $textRegular;
            color: $activeColor;
            font-family: $fontManrope;
            text-decoration: none;
          }
        }
      }

      &-button {
        border-radius: 8px;
        background-color: $colorDark;
        color: $colorWhite;
        font-size: $textRegular;
        padding: 10px 18px;
        transition: 0.2s;
        font-family: $fontManrope;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-decoration: none;
        letter-spacing: 0.5px;

        &-mail {
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover;
          background-image: url("../../assets/icons/default/mail.svg");
          transition: 0.2s;
        }

        &:hover {
          background-color: $colorRed;
          cursor: pointer;
          color: $colorWhite;
        }
      }
    }

    &-modal {
      max-width: 500px;

      &-title {
        max-width: 400px;
        font-weight: 600 !important;
      }

      &-item {
        margin-top: 16px;
        display: grid;
        gap: 8px;
        width: 100%;
      }

      &-button {
        margin-top: 24px;
        margin-bottom: 24px;
        text-align: center;
        padding: 12px 16px;
        font-size: $fontRegular;
        font-family: $fontManrope;
        color: $colorWhite;
        background-color: $colorDark;
        border-radius: 8px;
        letter-spacing: 0.5px;
        transition: 0.2s;

        @media (max-width: 460px) {
          margin-top: 24px;
          margin-bottom: 0px;
        }

        &:hover {
          background-color: $colorPreDark;
          cursor: pointer;
        }

        &-disabled {
          margin-top: 24px;
          margin-bottom: 24px;
          text-align: center;
          padding: 12px 16px;
          font-size: $fontRegular;
          font-family: $fontManrope;
          color: $colorWhite;
          border-radius: 8px;
          letter-spacing: 0.5px;
          transition: 0.2s;
          background-color: $colorScrollBar;
          cursor: no-drop !important;
        }
      }
    }
  }

  &-relative {
    background-color: $colorDefault;
    position: relative;
    z-index: 3;
    margin-bottom: 552px;

    @media (max-width: 1024px) {
      margin-bottom: 0px;
    }
  }

  &-bg {
    background-color: $colorDark;
  }

  &-container {
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
    width: 100%;
    align-items: center;
  }

  &-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: $colorDefault;
  }

  &-text {
    &-title {
      color: $colorWhite;
      font-family: $fontManropeBold;
      font-size: $textSuperBig;
      letter-spacing: 2px;
      line-height: 110%;
      text-decoration: none;
    }

    &-semiTitle {
      font-size: $textBig;
      font-family: $fontManrope;
      font-weight: 600;
      color: $colorRed;
      letter-spacing: 1px;
      text-decoration: none;
      line-height: 110%;
    }

    &-semiText {
      font-size: $textBig;
      font-family: $fontManrope;
      font-weight: 600;
      color: $colorRed;
      letter-spacing: 1px;
      text-decoration: none;
      line-height: 110%;
    }

    &-medium {
      color: $colorDark;
      font-family: $fontManrope;
      letter-spacing: 0px;
      font-size: $textMeduim;
      line-height: 130%;
      font-weight: 500;
      text-decoration: none;
    }

    &-default {
      font-size: $textRegular;
      font-family: $fontManrope;
      color: $colorPreDark;
      line-height: 20px;
      letter-spacing: 0px;
      text-decoration: none;
    }

    &-small {
      font-size: 14px;
      font-family: $fontManrope;
      color: $colorPreDark;
      letter-spacing: 0px;
      text-decoration: none;
      line-height: 140%;
    }

    &-dark {
      color: $colorDark;
    }

    &-red {
      color: $colorRed;
    }

    &-white {
      color: $colorWhite;
    }

    &-sub {
      color: $colorSubtext;
    }

    &-main {
      color: $colorDefault;
    }

    &-yellow {
      color: $colorYellow;
    }
  }

  &-main {
    margin: 72px 0px;
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    gap: 72px;
    width: 100%;
    align-items: center;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      gap: 48px;
      margin: 48px 0px;
    }

    @media (max-width: 767px) {
      gap: 32px;
      margin: 32px 0px;
    }

    @media (max-width: 460px) {
      gap: 24px;
      margin: 24px 0px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @media (max-width: 767px) {
        gap: 16px;
      }
    }

    &-block {
      border-radius: 18px;
      background-color: $colorWhite;
      padding: 16px 24px;
      padding-bottom: 8px;

      @media (max-width: 460px) {
        padding: 16px 16px;
      }
    }
  }

  &-about {
    margin: 72px 0px 72px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 72px;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      gap: 48px;
      margin: 48px 0px;
    }

    @media (max-width: 767px) {
      gap: 32px;
      margin: 32px 0px;
    }

    @media (max-width: 460px) {
      gap: 24px;
      margin: 24px 0px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;

      @media (max-width: 460px) {
        gap: 24px;
      }
    }

    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }
  }

  &-number {
    display: grid;
    justify-items: center;
    grid-template-rows: auto 1fr;
    gap: 40px;
    width: 100%;
    background-color: $colorDark;
    padding: 72px 36px;
    border-radius: 24px;
    margin-bottom: 72px;

    @media (max-width: 1024px) {
      padding: 48px;
      margin-bottom: 48px;
    }

    @media (max-width: 767px) {
      padding: 24px;
      margin-bottom: 32px;
      gap: 24px;
    }

    @media (max-width: 460px) {
      padding: 24px 16px;
      margin-bottom: 24px;
      gap: 12px;
    }

    &-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 320px;
      gap: 40px;

      @media (max-width: 1200px) {
        grid-template-columns: 1fr 1fr;
        gap: 32px;
      }

      @media (max-width: 767px) {
        padding-top: 24px;
        grid-template-columns: 1fr;
        gap: 24px;
      }

      @media (max-width: 460px) {
        padding-top: 24px;
        gap: 12px;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 16px;
      text-align: center;

      @media (max-width: 460px) {
        gap: 8px;
      }
    }

    &-title {
      text-align: center;
    }
  }

  &-videos {
    margin: 72px 0px;
    width: 100%;

    @media (max-width: 1024px) {
      margin: 48px 0px;
    }

    @media (max-width: 767px) {
      margin: 32px 0px;
    }

    &-centered {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;

      @media (max-width: 1024px) {
        flex-direction: column;
        gap: 16px;
      }

      @media (max-width: 460px) {
        gap: 0px;
      }
    }

    &-iframe {
      margin-top: 40px;
      height: 100%;
      width: 100%;
      min-height: 318px;
      border: none;
      border-radius: 16px;

      @media (max-width: 1024px) {
        min-height: 250px;
        margin-top: 24px;
      }

      @media (max-width: 767px) {
        min-height: 200px;
        margin-top: 16px;
      }
    }
  }

  &-products {
    margin: 72px 0px;
    width: 100%;

    @media (max-width: 1024px) {
      margin: 48px 0px;
    }

    @media (max-width: 767px) {
      margin: 32px 0px;
    }

    &-items {
      margin-top: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 24px;
      color: $colorDark;
      font-family: $fontManrope;
      gap: 24px;

      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        margin-top: 32px;
        gap: 20px;
      }

      @media (max-width: 767px) {
        margin-top: 24px;
        gap: 16px;
      }

      @media (max-width: 460px) {
        gap: 12px;
      }
    }

    &-itemsTriple {
      margin-top: 24px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      font-size: 24px;
      color: $colorDark;
      font-family: $fontManrope;
      gap: 24px;

      @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-top: 20px;
      }

      @media (max-width: 767px) {
        grid-template-columns: 1fr;
        gap: 16px;
        margin-top: 16px;
      }

      @media (max-width: 460px) {
        margin-top: 12px;
        gap: 12px;
      }
    }

    &-item {
      display: grid;
      grid-template-rows: auto 1fr auto auto;
      background-color: $colorDark;
      border-radius: 16px;
      padding: 24px;
      height: fit-content;

      &-active {
        height: 100% !important;
      }

      @media (max-width: 460px) {
        padding: 24px 16px;
      }

      &-header {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 12px;
        align-items: center;

        @media (max-width: 767px) {
          direction: rtl;
        }

        &-title {
          display: flex;
          flex-direction: column;
          justify-content: start;
          height: 100%;

          @media (max-width: 767px) {
            align-items: end;
            text-align: left;
          }
        }
      }

      &-text {
        padding-top: 12px;
      }

      &-buttons {
        display: flex;
        justify-content: center;
        margin-top: 12px;
      }

      &-button {
        padding: 12px;
        border-radius: 10px;
        background-color: $colorDefault;
        transition: 0.2s;
        color: $colorDark;

        &:hover {
          background-color: $colorRed;
          color: $colorWhite;
          cursor: pointer;
        }
      }

      &-arrow {
        display: flex;
        justify-content: center;
        transition: 0.2s;
        border-radius: 10px;

        &-active {
          transition: 0.2s;
          display: flex;
          justify-content: center;
          margin-top: 12px;
          border-radius: 10px;

          &:hover {
            cursor: pointer;
            background-color: $colorDefault;
          }
        }

        &:hover {
          cursor: pointer;
          background-color: $colorDefault;
        }

        &-open {
          width: 32px;
          height: 32px;
          background-position: 50%;
          background-repeat: no-repeat;
          transform: rotate(-90deg);
          background-size: cover;
          background-image: url("../../assets/icons/default/chevron-left.svg");
        }

        &-close {
          width: 32px;
          height: 32px;
          background-position: 50%;
          background-repeat: no-repeat;
          transform: rotate(90deg);
          background-size: cover;
          background-image: url("../../assets/icons/default/chevron-left.svg");
        }
      }
    }

    &-icon {
      &-kz {
        width: 64px;
        height: 64px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        background-image: url("../../assets/icons/photos/kz.png");
      }

      &-china {
        width: 64px;
        height: 64px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        background-image: url("../../assets/icons/photos/china.png");
      }

      &-accopointment {
        width: 64px;
        height: 64px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        background-image: url("../../assets/icons/photos/accopointment.png");
      }

      &-proforient {
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        background-image: url("../../assets/icons/photos/proforient.png");
      }

      &-russia {
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        background-image: url("../../assets/icons/photos/russia.png");
      }
    }

    ol {
      margin-top: 6px;
      padding-left: 20px;
      margin-bottom: 0px;
    }

    &-ol {
      li {
        list-style-type: disc; /*  меняем на точки */
      }
    }
  }

  &-otziv {
    padding: 72px 0px;
    width: 100%;

    @media (max-width: 1024px) {
      padding: 48px 0px;
    }

    @media (max-width: 767px) {
      padding: 32px 0px;
    }

    &-header {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 16px;

      &-item {
        display: grid;
        gap: 6px;
      }
    }

    &-arrows {
      display: flex;
      align-items: center;
      gap: 16px;

      &-left {
        z-index: 10;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: $colorDark;
        transition: 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }

        &-icon {
          width: 32px;
          height: 32px;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../../assets/icons/default/chevron-left.svg");
        }
      }

      &-right {
        z-index: 10;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: $colorDark;
        transition: background-color 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }

        &-icon {
          width: 32px;
          height: 32px;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../../assets/icons/default/chevron-right.svg");
        }
      }
    }

    &-dots {
      display: flex;
      justify-content: center;
      gap: 6px;
      padding-top: 40px;

      &-button {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transition-property: all;
        transition-duration: 200ms;
        cursor: pointer;

        &-current {
          background-color: $colorDark;
          transform: scale(1.25);
        }

        &-nocurrent {
          background-color: rgba(0, 0, 0, 0.4);
          transition: all 0.2s ease;

          &:hover {
            background-color: rgba(0, 0, 0, 0.6);
            transform: scale(1.1);
          }
        }
      }
    }

    &-slide {
      margin-top: 40px;
      transition: all 0.3s ease-in-out;

      @media (max-width: 1024px) {
        margin-top: 32px;
      }

      @media (max-width: 767px) {
        margin-top: 24px;
      }

      @media (max-width: 767px) {
        margin-top: 16px;
      }

      &-animate {
        opacity: 0;
        transform: scale(0.95);
      }

      &-nonAnimate {
        opacity: 1;
        transform: scale(1);
      }

      &-content {
        width: calc(100%);
        height: calc(100%);
      }
    }

    &-items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;

      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        gap: 24px;
      }

      @media (max-width: 767px) {
        gap: 16px;
      }

      @media (max-width: 460px) {
        gap: 12px;
      }
    }

    &-item {
      padding: 24px;
      border-radius: 16px;
      background-color: $colorDark;
      display: grid;
      grid-template-rows: auto 1fr;
      gap: 24px;

      @media (max-width: 767px) {
        gap: 20px;
      }

      @media (max-width: 460px) {
        padding: 24px 16px;
        gap: 16px;
      }

      &-header {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 12px;
        align-items: center;

        &-icon {
          border-radius: 50%;
          background-color: $colorWhite;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
          font-family: $fontManrope;
          font-weight: 600;
          color: $colorDark;
        }
      }
    }
  }

  &-zayavka {
    padding: 72px;
    border-radius: 24px;
    background-color: $colorDark;
    width: 100%;
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    gap: 40px;
    margin-bottom: 72px;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      padding: 48px;
      gap: 32px;
      margin-bottom: 48px;
    }

    @media (max-width: 767px) {
      padding: 24px;
      gap: 24px;
      margin-bottom: 32px;
    }

    @media (max-width: 460px) {
      padding: 24px 16px;
      gap: 24px;
      margin-bottom: 24px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-flex {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    &-block {
      padding-top: 72px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;

      @media (max-width: 1180px) {
        grid-template-columns: 1fr;
        gap: 16px;
      }

      @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 767px) {
        padding-top: 64px;
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 460px) {
        padding-top: 40px;
        gap: 12px;
        grid-template-columns: 1fr;
      }

      &-item {
        display: flex;
        flex-direction: column;
        gap: 6px;

        &-middle {
          @media (max-width: 767px) {
            font-size: 16px !important;
          }
        }

        &-text {
          transition: 0.2s;

          &:hover {
            color: $colorYellow !important;
          }
        }
      }
    }

    &-flex {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      padding-top: 40px;
      row-gap: 20px;

      @media (max-width: 1024px) {
        display: none;
        gap: 24px;
      }

      @media (max-width: 767px) {
        gap: 16px;
      }
    }

    &-flexMobile {
      display: none;
      flex-wrap: wrap;
      gap: 32px;
      row-gap: 20px;

      @media (max-width: 1024px) {
        display: flex;
        gap: 24px;
      }

      @media (max-width: 767px) {
        gap: 16px;
      }
    }
  }

  &-footer {
    width: 100%;
    background-color: $colorDark;
    position: fixed;
    bottom: 0px;
    z-index: 2;
    padding-top: 72px;

    @media (max-width: 1024px) {
      padding-top: 48px;
      position: relative;
    }

    &-container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 24px;
      width: 100%;

      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        gap: 32px;
      }

      @media (max-width: 460px) {
        gap: 24px;
      }
    }

    &-logo {
      width: 280px;
      height: 80px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
      background-image: url("../../assets/icons/logo/logoIcon-white.svg");
      position: relative;
      left: -55px;
      top: -12px;
    }

    &-subtitle {
      position: relative;
      top: -40px;
    }

    &-first {
      display: flex;
      flex-direction: column;
      gap: 40px;

      @media (max-width: 767px) {
        gap: 24px;
      }
    }

    &-second {
      display: flex;
      flex-direction: column;
      gap: 24px;
      justify-content: center;
    }

    &-item {
      display: grid;
      grid-template-rows: auto 1fr;
      gap: 24px;

      @media (max-width: 767px) {
        gap: 12px;
      }

      &-header {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }

      &-flex {
        display: flex;
        gap: 12px;
        align-items: center;
      }

      &-flexColumn {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      &-icon {
        &-locationFooter {
          width: 18px;
          height: 18px;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover;
          background-image: url("../../assets/icons/default/locationFooter.svg");
        }

        &-mailFooter {
          width: 18px;
          height: 18px;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover;
          background-image: url("../../assets/icons/default/mailFooter.svg");
        }

        &-phoneFooter {
          width: 18px;
          height: 18px;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover;
          background-image: url("../../assets/icons/default/phoneFooter.svg");
        }
      }

      &-text {
        transition: 0.2s;

        &:hover {
          color: $colorYellow;
          cursor: pointer;
        }
      }
    }

    &-icons {
      display: flex;
      gap: 12px;
      margin-top: -56px;

      &-footer_phone {
        background-color: $colorDefault;
        border-radius: 50%;
        padding: 12px;
        transition: 0.2s;

        &-icon {
          width: 18px;
          height: 18px;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover;
          background-image: url("../../assets/icons/default/phone_white.svg");
        }

        &:hover {
          background-color: #22c55e;
          cursor: pointer;
        }
      }

      &-footer_mail {
        background-color: $colorDefault;
        border-radius: 50%;
        padding: 12px;
        transition: 0.2s;

        &-icon {
          width: 18px;
          height: 18px;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover;
          background-image: url("../../assets/icons/default/mail.svg");
        }

        &:hover {
          background-color: #3b82f6;
          cursor: pointer;
        }
      }

      &-footer_telegram {
        background-color: $colorDefault;
        border-radius: 50%;
        padding: 12px;
        transition: 0.2s;

        &-icon {
          width: 18px;
          height: 18px;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover;
          background-image: url("../../assets/icons/default/telegramNotCircle.svg");
        }

        &:hover {
          background-color: #29b6f6;
          cursor: pointer;
        }
      }
    }

    &-map {
      border-radius: 12px;
      width: 100%;
      height: 100%;
      border: none;
    }

    &-end {
      width: 100%;
      padding-top: 24px;

      @media (max-width: 767px) {
        padding-top: 0px;
      }

      &-grid {
        display: grid;
        grid-template-columns: 1fr auto;
        margin: auto;
        max-width: 1200px;
        padding: 40px 0px;
        align-items: center;

        @media (max-width: 767px) {
          grid-template-columns: 1fr;
          padding: 24px 0px;
        }
      }

      &-flexColumn {
        display: flex;
        flex-direction: column;
      }

      &-title {
        color: $colorSubtext;
        font-size: 14px;
        font-family: $fontMedium;
      }

      &-flex {
        display: flex;
        gap: 12px;

        @media (max-width: 767px) {
          flex-direction: column;
          gap: 0px;
        }
      }

      &-text {
        font-size: 14px;
        color: $colorSubtext;
      }
    }
  }

  &-stage {
    margin: 72px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 1024px) {
      margin: 48px 0px;
      gap: 24px;
    }

    @media (max-width: 767px) {
      margin: 32px 0px;
    }

    &-block {
      background-color: $colorDark;
      padding: 36px;
      border-radius: 24px;

      @media (max-width: 1024px) {
        padding: 24px;
      }

      @media (max-width: 767px) {
        padding: 16px;
      }
    }

    // ol {
    //   margin-top: 6px;
    //   padding-left: 20px;
    //   margin-bottom: 0px;
    // }

    &-ol {
      li {
        padding: 4px 0px;
        list-style-type: disc; /*  меняем на точки */
      }
    }
  }
}

// Мобильное меню (добавляем для маленьких экранов)
.mobile {
  &-menu {
    display: none;

    @media (max-width: 1024px) {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: $colorDark;
      z-index: 100;
      padding: 20px;
      transform: translateX(-100%);
      transition: transform 0.3s ease;

      &.open {
        transform: translateX(0);
      }

      &-close {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        font-size: 36px;
        font-family: $fontManrope;
        color: $colorWhite;
        cursor: pointer;
      }

      &-items {
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-top: 60px;
      }

      &-item {
        color: $colorWhite;
        font-family: $fontManrope;
        text-decoration: none;
        font-size: $textRegular;
        padding: 10px;

        &:hover {
          cursor: pointer;
          color: $colorRed;
        }
      }
    }

    &-button {
      display: none;

      &-scrolled {
        display: none;

        @media (max-width: 1024px) {
          margin-right: 8px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 30px;
          height: 30px;
          background: none;
          border: none;
          cursor: pointer;

          span {
            height: 3px;
            width: 100%;
            background-color: $colorDark;
            margin: 2px 0;
            transition: 0.3s;
          }
        }
      }

      @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30px;
        height: 30px;
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 8px;

        span {
          height: 3px;
          width: 100%;
          background-color: $colorWhite;
          margin: 2px 0;
          transition: 0.3s;
        }
      }
    }
  }
}

// Адаптация текста
@media (max-width: 1024px) {
  .tour-text {
    &-title {
      font-size: 48px;
    }

    &-semiTitle {
      font-size: 32px;
    }

    &-semiText {
      font-size: 32px;
    }

    &-medium {
      font-size: 20px;
    }
  }
}
@media (max-width: 767px) {
  .tour-text {
    &-title {
      font-size: 40px;
      letter-spacing: 1px;
    }

    &-semiTitle {
      font-size: 32px;
    }

    &-semiText {
      font-size: 24px;
    }

    &-medium {
      font-size: 18px;
    }

    &-default {
      font-size: 14px;
    }
  }

  .tour-container {
    padding: 0px 16px;
  }
}
@media (max-width: 460px) {
  .tour-container {
    padding: 0px 12px;
  }
}

.hidden {
  height: 0px;
  overflow: hidden;
}
