@import "../../styles/variables.scss";

$textSuperBig: 72px;
$textBig: 40px;
$textMeduim: 24px;
$textRegular: 16px;

.tour {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &-header {
    padding: 12px 24px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 24px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    margin: auto;
    max-width: 1200px;

    &-bg {
      background-color: $colorDefault;
      top: 0;
      position: sticky;
      z-index: 12;
      transition: 0.2s;
    }

    &-logo {
      width: 170px;
      height: 47.8px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      background-image: url("../../assets/icons/logo/logoIcon-white.svg");
      transition: 0.2s;
      position: relative;
      left: -12px;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }

    &-flex {
      display: flex;
      gap: 24px;
      align-items: center;
      justify-content: center;

      &-item {
        font-size: $textRegular;
        transition: 0.2s;
        color: $colorWhite;
        font-family: $fontManrope;
        text-decoration: none;

        &:hover {
          color: $colorDark;
          cursor: pointer;
        }

        &-active {
          font-size: $textRegular;
          color: $colorDark;
          font-family: $fontManrope;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    &-button {
      border-radius: 8px;
      background-color: $colorDark;
      color: $colorWhite;
      font-size: $textRegular;
      padding: 10px 18px;
      transition: 0.2s;
      font-family: $fontManrope;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      text-decoration: none;
      letter-spacing: 0.5px;

      &-mail {
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        background-image: url("../../assets/icons/default/mail.svg");
        transition: 0.2s;
      }

      &:hover {
        background-color: $colorRed;
        cursor: pointer;
        color: $colorWhite;
      }
    }

    &-scrolled {
      padding: 12px 24px;
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: 24px;
      justify-content: center;
      align-items: center;
      transition: 0.2s;
      margin: auto;
      max-width: 1200px;

      &-bg {
        top: 0;
        position: sticky;
        z-index: 15;
        background-color: rgba($color: $colorWhite, $alpha: 0.95);
        transition: 0.2s;
      }

      &-logo {
        width: 170px;
        height: 47.8px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        background-image: url("../../assets/icons/logo/logoIcon-darkblue.svg");
        transition: 0.2s;
        position: relative;
        left: -12px;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }

      &-flex {
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;

        &-item {
          font-size: $textRegular;
          transition: 0.2s;
          color: $colorDark;
          font-family: $fontManrope;
          text-decoration: none;

          &:hover {
            color: $activeColor;
            cursor: pointer;
          }

          &-active {
            font-size: $textRegular;
            color: $activeColor;
            font-family: $fontManrope;
            text-decoration: none;
          }
        }
      }

      &-button {
        border-radius: 8px;
        background-color: $colorDark;
        color: $colorWhite;
        font-size: $textRegular;
        padding: 10px 18px;
        transition: 0.2s;
        font-family: $fontManrope;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-decoration: none;
        letter-spacing: 0.5px;

        &-mail {
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover;
          background-image: url("../../assets/icons/default/mail.svg");
          transition: 0.2s;
        }

        &:hover {
          background-color: $colorRed;
          cursor: pointer;
          color: $colorWhite;
        }
      }
    }

    &-modal {
      max-width: 500px;

      &-title {
        max-width: 400px;
        font-weight: 600 !important;
      }

      &-item {
        margin-top: 16px;
        display: grid;
        gap: 8px;
        width: 100%;
      }

      &-button {
        margin-top: 24px;
        margin-bottom: 24px;
        text-align: center;
        padding: 12px 16px;
        font-size: $fontRegular;
        font-family: $fontManrope;
        color: $colorWhite;
        background-color: $colorDark;
        border-radius: 8px;
        letter-spacing: 0.5px;
        transition: 0.2s;

        &:hover {
          background-color: $colorPreDark;
          cursor: pointer;
        }

        &-disabled {
          margin-top: 24px;
          margin-bottom: 24px;
          text-align: center;
          padding: 12px 16px;
          font-size: $fontRegular;
          font-family: $fontManrope;
          color: $colorWhite;
          border-radius: 8px;
          letter-spacing: 0.5px;
          transition: 0.2s;
          background-color: $colorScrollBar;
          cursor: no-drop !important;
        }
      }
    }
  }

  &-relative {
    background-color: $colorWhite;
    position: relative;
    z-index: 3;
    margin-bottom: 552px;
  }

  &-bg {
    background-color: $colorDefault;
  }

  &-container {
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
    width: 100%;
    align-items: center;
  }

  &-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: $colorDefault;
  }

  &-text {
    &-title {
      color: $colorDark;
      font-family: $fontManrope;
      font-weight: 600;
      font-size: $textSuperBig;
      letter-spacing: 2px;
      line-height: 110%;
      text-decoration: none;
    }

    &-semiTitle {
      font-size: $textBig;
      font-family: $fontManrope;
      font-weight: 600;
      color: $colorRed;
      letter-spacing: 1px;
      text-decoration: none;
      line-height: 110%;
    }

    &-medium {
      color: $colorDark;
      font-family: $fontManrope;
      letter-spacing: 0px;
      font-size: $textMeduim;
      line-height: 130%;
      font-weight: 500;
      text-decoration: none;
    }

    &-default {
      font-size: $textRegular;
      font-family: $fontManrope;
      color: $colorPreDark;
      line-height: 20px;
      letter-spacing: 0px;
      text-decoration: none;
    }

    &-small {
      font-size: 14px;
      font-family: $fontManrope;
      color: $colorPreDark;
      letter-spacing: 0px;
      text-decoration: none;
      line-height: 140%;
    }

    &-dark {
      color: $colorDark;
    }

    &-red {
      color: $colorRed;
    }

    &-white {
      color: $colorWhite;
    }

    &-sub {
      color: $colorSubtext;
    }
  }

  &-main {
    margin: 72px 0px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 72px;
    width: 100%;
    align-items: center;

    &-item {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &-block {
      border-radius: 18px;
      background-color: $colorWhite;
      padding: 24px 36px;
      padding-bottom: 8px;
    }
  }

  &-about {
    margin: 72px 0px 72px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 72px;

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;
    }

    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }
  }

  &-number {
    display: grid;
    justify-items: center;
    grid-template-rows: auto 1fr;
    gap: 40px;
    width: 100%;
    background-color: $colorDefault;
    padding: 72px;
    border-radius: 24px;
    margin-bottom: 72px;

    &-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 300px;
      gap: 40px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 16px;
      text-align: center;
    }
  }

  &-videos {
    margin: 72px 0px;
    width: 100%;

    &-centered {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
    }

    &-iframe {
      margin-top: 40px;
      height: 100%;
      width: 100%;
      min-height: 318px;
      border: none;
      border-radius: 16px;
    }
  }

  &-products {
    margin: 72px 0px;
    width: 100%;

    &-title {
      padding-top: 40px;
      font-size: 38px;
      font-family: $fontManrope;
      font-weight: 600;
      letter-spacing: 1px;
      color: $colorDark;
    }

    &-items {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: $colorDark;
      font-family: $fontManrope;
    }
  }

  &-otziv {
    padding: 72px 0px;
    width: 100%;

    &-header {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 16px;

      &-item {
        display: grid;
        gap: 6px;
      }
    }

    &-arrows {
      display: flex;
      align-items: center;
      gap: 16px;

      &-left {
        z-index: 10;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: $colorDefault;
        transition: 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }

        &-icon {
          width: 32px;
          height: 32px;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../../assets/icons/default/chevron-left.svg");
        }
      }

      &-right {
        z-index: 10;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: $colorDefault;
        transition: background-color 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }

        &-icon {
          width: 32px;
          height: 32px;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../../assets/icons/default/chevron-right.svg");
        }
      }
    }

    &-dots {
      display: flex;
      justify-content: center;
      gap: 6px;
      padding-top: 40px;

      &-button {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transition-property: all;
        transition-duration: 200ms;
        cursor: pointer;

        &-current {
          background-color: $colorDefault;
          transform: scale(1.25);
        }

        &-nocurrent {
          background-color: rgba(0, 0, 0, 0.4);
          transition: all 0.2s ease;

          &:hover {
            background-color: rgba(0, 0, 0, 0.6);
            transform: scale(1.1);
          }
        }
      }
    }

    &-slide {
      margin-top: 40px;
      transition: all 0.3s ease-in-out;

      &-animate {
        opacity: 0;
        transform: scale(0.95);
      }

      &-nonAnimate {
        opacity: 1;
        transform: scale(1);
      }

      &-content {
        width: calc(100%);
        height: calc(100%);
      }
    }

    &-items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }

    &-item {
      padding: 24px;
      border-radius: 16px;
      background-color: #f5f5f5;
      display: grid;
      grid-template-rows: auto 1fr;
      gap: 24px;

      &-header {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 12px;
        align-items: center;

        &-icon {
          border-radius: 50%;
          background-color: $colorWhite;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
          font-family: $fontManrope;
          font-weight: 600;
          color: $colorDark;
        }
      }
    }
  }

  &-zayavka {
    padding: 72px;
    border-radius: 24px;
    background-color: $colorDefault;
    width: 100%;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 40px;
    margin-bottom: 72px;

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-flex {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }

    &-block {
      padding-top: 72px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;

      &-item {
        display: flex;
        flex-direction: column;
        gap: 6px;

        &-text {
          transition: 0.2s;

          &:hover {
            color: $colorDark;
          }
        }
      }
    }
  }

  &-footer {
    width: 100%;
    background-color: $colorDark;
    position: fixed;
    bottom: 0px;
    z-index: 2;
    padding-top: 72px;

    &-container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 24px;
      width: 100%;
    }

    &-logo {
      width: 280px;
      height: 80px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
      background-image: url("../../assets/icons/logo/logoIcon-white.svg");
      position: relative;
      left: -55px;
      top: -12px;
    }

    &-subtitle {
      position: relative;
      top: -40px;
    }

    &-first {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    &-second {
      display: flex;
      flex-direction: column;
      gap: 24px;
      justify-content: center;
    }

    &-item {
      display: grid;
      grid-template-rows: auto 1fr;
      gap: 24px;

      &-header {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }

      &-flex {
        display: flex;
        gap: 12px;
        align-items: center;
      }

      &-flexColumn {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      &-icon {
        &-locationFooter {
          width: 18px;
          height: 18px;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover;
          background-image: url("../../assets/icons/default/locationFooter.svg");
        }

        &-mailFooter {
          width: 18px;
          height: 18px;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover;
          background-image: url("../../assets/icons/default/mailFooter.svg");
        }

        &-phoneFooter {
          width: 18px;
          height: 18px;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover;
          background-image: url("../../assets/icons/default/phoneFooter.svg");
        }
      }

      &-text {
        transition: 0.2s;

        &:hover {
          color: $activeColor;
          cursor: pointer;
        }
      }
    }

    &-icons {
      display: flex;
      gap: 12px;
      margin-top: -56px;

      &-footer_phone {
        background-color: $colorDefault;
        border-radius: 50%;
        padding: 12px;
        transition: 0.2s;

        &-icon {
          width: 18px;
          height: 18px;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover;
          background-image: url("../../assets/icons/default/phone_white.svg");
        }

        &:hover {
          background-color: #22c55e;
          cursor: pointer;
        }
      }

      &-footer_mail {
        background-color: $colorDefault;
        border-radius: 50%;
        padding: 12px;
        transition: 0.2s;

        &-icon {
          width: 18px;
          height: 18px;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover;
          background-image: url("../../assets/icons/default/mail.svg");
        }

        &:hover {
          background-color: #3b82f6;
          cursor: pointer;
        }
      }

      &-footer_telegram {
        background-color: $colorDefault;
        border-radius: 50%;
        padding: 12px;
        transition: 0.2s;

        &-icon {
          width: 18px;
          height: 18px;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover;
          background-image: url("../../assets/icons/default/telegramNotCircle.svg");
        }

        &:hover {
          background-color: #29b6f6;
          cursor: pointer;
        }
      }
    }

    &-map {
      border-radius: 12px;
      width: 100%;
      height: 100%;
      border: none;
    }

    &-end {
      width: 100%;
      padding-top: 24px;

      &-grid {
        display: grid;
        grid-template-columns: 1fr auto;
        margin: auto;
        max-width: 1200px;
        padding: 40px 0px;
        align-items: center;
      }

      &-flexColumn {
        display: flex;
        flex-direction: column;
      }

      &-title {
        color: $colorSubtext;
        font-size: 14px;
        font-family: $fontMedium;
      }

      &-flex {
        display: flex;
        gap: 12px;
      }

      &-text {
        font-size: 14px;
        color: $colorSubtext;
      }
    }
  }
}
