@import "../../styles/variables.scss";

.university {
  background-color: $colorDefault;
  display: flex;
  justify-content: center;

  &-main {
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    position: relative;
    width: 100%;
    align-items: center;
    margin-bottom: 28px;
  }

  &-header {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    width: 100%;

    &-left {
      display: flex;
      flex-direction: column;
      gap: 12px;

      &-title {
        color: $colorRed;
        font-size: 42px;
        font-family: $fontCormorantBoldItalic;
      }

      &-text {
        color: $colorDark;
        font-size: 16px;
        font-family: $fontRegular;
        line-height: 140%;
      }
    }

    &-right {
      width: 100%;
      height: 324px;
      border: none;
      border-radius: 12px;
    }
  }

  &-item {
    margin-top: 40px;
    display: grid;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;

    &-header {
      background-color: $colorDark;
      padding: 6px 12px;

      &-title {
        text-align: center;
        color: $colorWhite;
        font-size: 38px;
        font-family: $fontCormorantBoldItalic;
      }

      &-subtitle {
        text-align: center;
        color: $colorWhite;
        font-size: 24px;
        font-family: $fontCormorantMediumItalic;
      }
    }
  }

  &-fakultet {
    background-color: $colorWhite;
    display: grid;

    &-item {
      border-bottom: 1px solid $colorDark;

      &:last-child {
        border-bottom: none;
      }

      &-grid {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        padding: 6px 12px;
      }

      &-name {
        font-size: 22px;
        color: $colorDark;
        font-family: $fontMedium;
      }

      &-arrow {
        width: 36px;
        height: 36px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../assets/icons/default/chevron-right_black.svg");
        transition: 0.2s;

        &:hover {
          background-image: url("../../assets/icons/default/chevron-right_active.svg");
          cursor: pointer;
        }

        &-active {
          width: 36px;
          height: 36px;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../../assets/icons/default/chevron-right_black.svg");
          transition: 0.2s;
          transform: rotate(90deg);

          &:hover {
            background-image: url("../../assets/icons/default/chevron-right_active.svg");
            cursor: pointer;
          }
        }
      }
    }

    &-items {
      overflow: hidden;
      animation: closeAnimation 0.3s ease-out forwards;

      &-active {
        overflow: hidden;
        animation: openAnimation 0.3s ease-out forwards;
        display: flex;
        flex-direction: column;
      }
    }

    &-items1 {
      overflow: hidden;
      max-height: 0;
      opacity: 0;

      &-active {
        overflow: hidden;
        display: flex;
        flex-direction: column;
      }
    }

    &-child {
      display: grid;
      grid-template-columns: 40% 1fr;

      &:first-child &-header {
        border-top: none;
      }

      &-header {
        padding: 12px;
        border-top: 1px solid $colorDark;

        &-grid {
          display: grid;
          grid-template-columns: 1fr auto;
          gap: 12px;
          align-items: center;
        }

        &-text {
          color: $colorDark;
          font-size: 18px;
          font-family: $fontMediumItalic;
        }

        &-plus {
          width: 36px;
          height: 36px;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../../assets/icons/default/plus.svg");
          transition: 0.3s;

          &:hover {
            background-image: url("../../assets/icons/default/plus_active.svg");
            cursor: pointer;
          }

          &-active {
            width: 36px;
            height: 36px;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("../../assets/icons/default/plus.svg");
            transition: 0.3s;
            transform: rotate(-45deg);

            &:hover {
              background-image: url("../../assets/icons/default/plus_active.svg");
              transform: rotate(-45deg);
              cursor: pointer;
            }
          }
        }
      }

      &-content1 {
        overflow: hidden;
        max-height: 0;
        opacity: 0;

        &-active {
          overflow: hidden;
          display: flex;
          flex-direction: column;
        }
      }

      &-content {
        overflow: hidden;
        animation: closeAnimation 0.3s ease-out forwards;

        &-active {
          overflow: hidden;
          animation: openAnimation 0.3s ease-out forwards;
          display: flex;
          flex-direction: column;
        }

        &-text {
          margin-top: 10px;
          font-size: 16px;
          font-family: $fontRegular;
          color: $colorDark;
          line-height: 150%;
        }

        &-price {
          margin-top: 20px;
          font-size: 16px;
          font-family: $fontMedium;
          color: $colorDark;
          margin-bottom: -10px;
        }
      }
    }
  }

  &-prices {
    margin-top: 40px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;

    &-title {
      background-color: $colorDark;
      padding: 6px 12px;
      text-align: center;
      color: $colorWhite;
      font-size: 38px;
      font-family: $fontCormorantBoldItalic;
    }

    &-subtitle {
      padding: 6px 12px;
      text-align: center;
      color: $colorSubtext;
      font-size: 24px;
      font-family: $fontCormorantBold;
    }

    &-content {
      padding: 12px;
      display: grid;
      background-color: $colorWhite;
      justify-content: center;
    }

    &-items {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      display: grid;
    }

    &-item {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 48px;
      align-items: center;
      padding: 24px 12px;
      border-bottom: 1px solid $colorDark;

      &:last-child {
        border-bottom: none;
      }

      &-names {
        display: flex;
        flex-direction: column;
        gap: 6px;

        &-text {
          font-size: 16px;
          font-family: $fontRegular;
          color: $colorDark;
        }
      }

      &-price {
        font-size: 16px;
        font-family: $fontRegular;
        color: $colorDark;
      }
    }
  }

  &-steps {
    padding: 12px;
    display: grid;
    background-color: $colorWhite;

    &-tabs {
      display: grid;
      gap: 12px;
      position: relative;
      margin-top: 12px;
    }

    &-tab {
      display: grid;
      gap: 12px;
      grid-template-rows: auto auto 1fr;
      justify-content: center;
      align-items: center;

      &-line {
        position: absolute;
        height: 1px;
        background-color: #e6e6e6;
        top: 18px;
      }

      &-center {
        display: flex;
        justify-content: center;
      }

      &-circle {
        position: relative;
        z-index: 2;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: $colorDark;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
          background-color: $colorRed;
        }

        &-active {
          transform: scale(1.1);
          background-color: $colorRed;
        }

        &-number {
          color: $colorWhite;
          font-size: 18px;
          font-family: $fontMediumItalic;
          line-height: 100%;
        }
      }

      &-title {
        font-size: 16px;
        color: $colorDark;
        font-family: $fontMediumItalic;
        text-align: center;
      }

      &-subtitle {
        font-size: 14px;
        color: $colorDark;
        font-family: $fontItalic;
        text-align: center;
      }
    }

    &-item {
      margin-top: 40px;
      display: grid;
      grid-template-rows: auto;
      gap: 12px;
      justify-content: center;

      &-title {
        color: $colorDark;
        font-size: 24px;
        font-family: $fontBold;
        text-align: center;
      }

      &-subtitle {
        color: $colorDark;
        font-size: 18px;
        font-family: $fontItalic;
        text-align: center;
      }

      &-grid {
        margin-top: 20px;
        display: grid;
        grid-template-rows: auto;
        gap: 36px;
        margin-left: auto;
        margin-right: auto;
        max-width: 660px;
      }

      &-block {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 24px;

        &-icon {
          width: 28px;
          height: 28px;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url("../../assets/icons/brandIcon/star-darkblue.png");
        }

        &-texts {
          display: flex;
          flex-direction: column;
          gap: 12px;

          a {
            color: $colorRed;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        &-title {
          font-size: 24px;
          font-family: $fontCormorantBold;
          color: $colorDark;
          line-height: 100%;
        }

        &-content {
          font-family: $fontRegular;
          color: $colorDark;
          text-decoration: none;
          line-height: 140%;
        }
      }
    }
  }

  &-dormitory {
    padding: 12px;
    display: grid;
    background-color: $colorWhite;
    justify-content: center;

    &-items {
      margin-top: 20px;
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      gap: 24px;
    }

    &-iframe {
      margin-top: 20px;
      max-width: 640px;
      width: 100%;
      height: 360px;
      border: none;
      border-radius: 12px;
    }

    &-carousel {
      margin-top: 20px;
      position: relative;
      min-height: 400px;
      background-color: $colorDark;
      border-radius: 12px;
      overflow: hidden;
      display: grid;
    }

    &-button {
      &-left {
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        color: $colorWhite;
        border: 1px solid rgba(0, 0, 0, 0.8);
        transition: background-color 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.8);
        }

        &-icon {
          width: 18px;
          height: 18px;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../../assets/icons/default/chevron-left.svg");
        }
      }

      &-right {
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: 1px solid rgba(0, 0, 0, 0.8);
        transition: background-color 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.8);
        }

        &-icon {
          width: 18px;
          height: 18px;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../../assets/icons/default/chevron-right.svg");
        }
      }
    }

    &-slide {
      transition: all 0.3s ease-in-out;

      &-animate {
        opacity: 0;
        transform: scale(0.95);
      }

      &-nonAnimate {
        opacity: 1;
        transform: scale(1);
      }

      &-title {
        text-align: center;
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        &-text {
          font-size: 24px;
          font-family: $fontMedium;
          color: $colorWhite;
        }
      }

      &-content {
        margin-top: 12px;
        margin-bottom: 8px;
        width: 100%; /* или конкретное значение, например 100px */
        height: 100%; /* сохраняет пропорции */
        max-width: 640px; /* предотвращает выход за границы контейнера */
        max-height: 400px;
        z-index: 2;
        object-fit: contain;
        transition: 0.2s;
        border-radius: 12px;
      }
    }

    &-dots {
      position: absolute;
      bottom: 10px;
      display: flex;
      justify-content: center;
      left: 0;
      right: 0;
      gap: 6px;
      padding: 24px;

      &-button {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transition-property: all;
        transition-duration: 200ms;
        cursor: pointer;

        &-current {
          background-color: #000;
          transform: scale(1.25);
        }

        &-nocurrent {
          background-color: rgba(0, 0, 0, 0.5);
          transition: all 0.2s ease;

          &:hover {
            background-color: rgba(0, 0, 0, 0.8);
            transform: scale(1.1);
          }
        }
      }
    }
  }

  &-docs {
    padding: 12px;
    display: grid;
    background-color: $colorWhite;

    &-items {
      margin-top: 20px;
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      gap: 24px;
    }

    &-circle {
      width: 36px;
      height: 36px;
      background-color: $colorYellow;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: relative;
      top: -8px;
      color: $colorDark;
      font-family: $fontCormorantBold;
      font-size: 24px;
    }
  }

  &-colored {
    text-decoration: none;
    color: $colorRed;

    &:hover {
      text-decoration: underline;
    }
  }

  ol {
    padding-left: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  &-list {
    li {
      list-style-type: disc; /*  меняем на точки */
    }
  }
}

@keyframes openAnimation {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 100%;
    opacity: 1;
  }
}
@keyframes closeAnimation {
  from {
    max-height: none;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}
